---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="A brief introduction to the author of this blog."
	pubDate={new Date('August 26 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
 <h1>About Me</h1>
</Layout>
